extends home
block content



    <div class="flex flex-col ">

        <main class="flex flex-col">
            <section class="w-full py-12 md:py-24 lg:py-32 xl:py-48  bg-gradient-to-t from-gray-200 to-gray-400 text-white ">
                <div class="container flex flex-col items-center justify-center space-y-4 px-4 md:px-6 text-center xl:space-y-10">
                    <div class="space-y-2" >
                        <h1 class="text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none text-gray-700">
                            |Create a Professional Resume
                        </h1>
                        <p class="mx-auto max-w-[600px] text-black md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed ">
                            |Stand out with beautifully designed templates. Easily customize and download your resume.
                        </p>
                    </div>

                </div>
            </section>
                <section class="w-full py-8 bg-gradient-to-t from-gray-100 to-gray-200">



                    <div class="space-y-2 ">
                        <h1 class="text-3xl text-center text-gray-800 font-bold tracking-tighter sm:text-5xl xl:text-6xl/none">
                            |Choose Template for your resume
                        </h1>
                        <p class="mx-auto max-w-[600px] text-gray-800 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">   
                            |Stand out with beautifully designed templates. Easily customize and download your resume.
                        </p>
                    </div>
                        </div>
                <div class="grid md:grid-cols-1 lg:grid-cols-2 gap-6 items-start lg:py-12 bg-gradient-to-t from-gray-300 to-gray-100 ease-in">

                div(id='1', class="template-btn rounded-lg border bg-gray-400 text-black capitalize text-card-foreground shadow-sm cursor-pointer shadow-lg shadow-gray-500  m-auto rounded-lg hover:scale-105 hover:bg-black hover:text-white ease-in ",  data-v0-t="card",, data-user=`${user ? user._id : ''}`)
                    div(id='1',  class="p-0" data-user=`${user ? user._id : ''}` )
                        img(id='1' , src="/templates/simple.png" width="400" data-user=`${user ? user._id : ''}` height="225" alt="Image" class="aspect-16/9 object-cover rounded-lg")

                    div(id='1' , class="flex items-center p-4 " data-user=`${user ? user._id : ''}`)
                        p(id='1',  data-user=`${user ? user._id : ''}`  class="text-xl font-medium m-auto leading-none") Simple
                
                

                
                div(id='2',  class="template-btn rounded-lg border bg-gray-400 text-black capitalize text-card-foreground shadow-sm cursor-pointer shadow-lg shadow-gray-500   m-auto rounded-lg hover:scale-105 hover:bg-black hover:text-white ease-in " data-v0-t="card")
                    div(id='2' , class="p-0" data-user=`${user ? user._id : ''}` )
                        img(id='2' , src="/templates/imgType.png" width="400" data-user=`${user ? user._id : ''}` height="225" alt="Image" class="aspect-16/9 object-cover rounded-lg")

                    div(id='2',  class="flex items-center p-4 " data-user=`${user ? user._id : ''}`)
                        p( id='2', data-user=`${user ? user._id : ''}`  class="text-xl font-medium m-auto leading-none") Organized
                div(id='3',  class="template-btn rounded-lg border bg-gray-400 text-black capitalize text-card-foreground shadow-sm cursor-pointer shadow-lg shadow-gray-500   m-auto rounded-lg hover:scale-105 hover:bg-black hover:text-white ease-in " data-v0-t="card")
                    div(class="p-0" data-user=`${user ? user._id : ''}` )
                        img(id='3' , src="/templates/standard.png" width="400" data-user=`${user ? user._id : ''}` height="225" alt="Image" class="aspect-16/9 object-cover rounded-lg")

                    div(id='3',  class="flex items-center p-4 " data-user=`${user ? user._id : ''}`)
                        p( id='3', data-user=`${user ? user._id : ''}`  class="text-xl font-medium m-auto leading-none") Standard
                div(id='4',  class="template-btn rounded-lg border bg-gray-400 text-black capitalize text-card-foreground shadow-sm cursor-pointer shadow-lg shadow-gray-500   m-auto rounded-lg hover:scale-105 hover:bg-black hover:text-white ease-in " data-v0-t="card")
                    div( id='4',  class="p-0" data-user=`${user ? user._id : ''}` )
                        img( id='4',  src="/templates/simplestandard.png" width="400" data-user=`${user ? user._id : ''}` height="225" alt="Image" class="aspect-16/9 object-cover rounded-lg")

                    div( id='4' , class="flex items-center p-4 " data-user=`${user ? user._id : ''}`)
                        p(id='4' , data-user=`${user ? user._id : ''}`  class="text-xl font-medium m-auto leading-none") Simple Standard
                
                
                
                </div>


                </section>



        </main>

    </div>